<h1 *ngIf="member">{{member.firstName}} {{member.lastName}</h1>  
<!-- provjerimo ima li member prije nego ga ispisemo -->
<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}"
            class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location</strong>
                    <p>{{member.city}} {{member.country}</p>
                </div>
                <div>
                    <strong>Birthday:</strong>
                    <p>{{member.age}</p>
                </div>  
                <div>
                    <strong>Created date</strong>
                    <p>{{member.createdDate | date}</p>
                </div>  
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
</div>